/* FOREGROUNDS -------------------------------------------------------------- */
a,
a:hover,
a:visited,
cite,
dl dt,
var,
button.dark-btn:hover,
.search-and-cart i.fa,
.social-icons i.fa,
p.header-description,
.site-footer div.site-info a,
section.features-section .feature-cta h3,
.recent-article h5 a:hover,
p.post-meta a,
footer.entry-footer a,
div.nav-links a,
div.comment-metadata span.edit-link a,
div#comments div#respond form p.logged-in-as > a,
.recent-article h5 a,
a.blog-post-read-more,
.woocommerce ul.products li.product .price ins,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
div.homepage-page-content div.pagination-links a,
aside.widget table a,
aside.widget ul li a,
a.button.add_to_cart_button:hover,
a.button.product_type_variable:hover,
aside.widget.woocommerce a.button,
.woocommerce .woocommerce-message a.button:hover,
.woocommerce .woocommerce-message:before,
.woocommerce-pagination ul li,
.woocommerce .summary p ins span,
li.product a.added_to_cart,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
div#search-form form.search-form input[type="submit"]:hover,
.relia-callout a.relia-button,
#relia-contact-form input.relia-button
{
    color: #c93838;
}

.woocommerce input[type="submit"],
.woocommerce button.button,
nav.woocommerce-breadcrumb a {
    color: #c93838 !important;
}

/* BACKGROUNDS -------------------------------------------------------------- */

ins,
nav.main-nav,
ul#primary-menu,
ul#primary-menu > li > ul,
footer.entry-footer span.edit-link,
div.reply a,
aside.widget table th,
aside.widget_tag_cloud div.tagcloud a:hover,
.slicknav_menu, 
.woocommerce .product .onsale,
.woocommerce-pagination ul li span.current,
aside.widget.woocommerce a.button:hover,
.woocommerce a.remove:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
ul#relia-testimonials .testimonial-author,
.search h2.entry-title,
a.apply.secondary-button:hover,
.recent-article h4,
.recent-article h5 a:hover,
.news-item div.date,
.event-details h2 a,
.type-event h2.post-title,
form#relia-contact-form label,
#relia-contact-form input.relia-button:hover,
.relia-service .icon-container,
.relia-callout h3.widget-title,
.relia-callout a.relia-button:hover,
.relia-contact-info h2.widget-title,
.relia-contact-info .row .col-sm-4 > div,
.relia-pricing-table h2.title,
.relia-pricing-table span.special,
h3.contact-form-heading
{
    background-color: #c93838;
}

ul.wc-tabs li.active,
.woocommerce button.button:hover,
.woocommerce input[type="submit"]:hover {
    background-color: #c93838 !important;
}

/* BORDERS ------------------------------------------------------------------ */

a.apply.secondary-button,
.recent-article h5 a,
#relia-contact-form input.relia-button,
.relia-callout a.relia-button,
div.homepage-page-content > div.col-sm-4 > div,
.relia-pricing-table .header,
kbd, 
code, 
pre, 
tt,
div.blog-index-content .row .row > div.col-sm-4 > div {
    border: thin solid #c93838;
}

.woocommerce .woocommerce-message a.button:hover,
aside.widget.woocommerce a.button,
div#search-form form.search-form input[type="submit"]:hover,
p.form-submit input:hover, 
a.button.product_type_variable:hover,
a.button.add_to_cart_button:hover {
    border-color: #c93838;
}

.woocommerce button.button {
    border: 2px solid #c93838;
}

.woocommerce input[type="submit"] {
    border: 2px solid #c93838 !important;
}

.woocommerce-page ul.products li.product img {
    border-bottom: 7px solid #c93838;
}

ul.wc-tabs:before {
    border-bottom: 1px solid #c93838 !important;
}

.woocommerce .woocommerce-message {
    border-top-color: #c93838;
}

div.woocommerce table.shop_table tr.cart_item td {
    border-top: thin solid #c93838;
    border-bottom: thin solid #c93838;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    border: 2px solid #c93838;
}

.woocommerce-tabs ul.wc-tabs li {
    border: thin solid #c93838 !important;
}

h3.faq-title {
    border-left: 15px solid #c93838;
}

.front-page-content, 
footer.site-footer,
section.features-section,
section.recent-articles-section {
    border-top: 20px solid #c93838;
}

section.features-section,
div.col-md-12.hero-banner {
    border-bottom: 20px solid #c93838;
}

.blog-post-overlay {
    border-top: 7px solid #c93838;
}

button.dark-btn:hover {
    border: 3px solid #c93838;
} 

